<% provide :page_title, "Admin Users" %>
<% currently_at "Users" %>
<h1 class="mb-4">Admin Users</h1>
<%== pagy_bootstrap_nav (@pagy) if @pagy.page > 1 %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col">#</th>
      <th class="col">Name</th>
      <th class="col">Email</th>
      <th class="col">Created at</th>
      <th class="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
